<!DOCTYPE html>
<html>
<head>
<title>Vue</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<style type="text/css">
</style>
</head>
<body>
<section id="app">
    <ul>
       <todo-item v-for="item in todos" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ul>
    <section>
    <input v-model="addTodos">
    <button @click="add">增加一条</button>
    <p v-show="false">{{reverseString}}</p>
    </section>
    <ul>
       <li v-for="(item,index) in todos" v-if="index%2==0">{{index}}.{{item.text}}</li>
    </ul>
    <p>obj</p>
    <ul>
       <li v-for="(val,key,index) in obj">{{index}}.{{key}}:{{val}}</li>
    </ul>
    <button @click="showInf('hello word',$event)">提示信息</button>
    <br/><br/>
    <img width="200" height="auto" :src="src">
    <br/>
    <button @click="updateImg">更新图片</button>

</section> 
</body>
</html>
<script>
// v-bind 指令用于响应地更新 HTML 特性 形式如：v-bind:href    缩写为    :href;
// v-on 指令用于监听DOM事件 形式如：v-on:click  缩写为 @click;
var imgUrl='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525071532364&di=dc8b2a1e951c254b02e9ab47024d15eb&imgtype=0&src=http%3A%2F%2Fwww.taopic.com%2Fuploads%2Fallimg%2F140320%2F235013-14032020515270.jpg';
Vue.component('todo-item',{
  props:['todo'],
  template:'<li>{{todo.text}}</li>'
});
var vm = new Vue({
  el: '#app',
  data: {
    src:imgUrl,
    addTodos:'增加爱好',
    css:{
      color:'red',
      fontWeight:'bold',
      display:'block',
      textAlign:'center'
    },
    todos:[
      {id:0,text:'打篮球'},
      {id:1,text:'打羽毛球球'},
      {id:2,text:'打乒乓球'}
    ],
    obj:{
      a:'lisi',
      b:'zhangs',
      c:'wlw'
    }
  },
  methods:{
    add(event){
    	console.log(event);
      this.todos.push({text:this.reverseString});
    },
    showInf(mes,e){
    	alert(mes+' screenX:'+e.screenX+'pageX:'+e.pageX+'clientX:'+e.clientX);
    },
    updateImg(){
      this.src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525072076753&di=b28132eb7f2ab3ce1f0cd1068d63e8fc&imgtype=0&src=http%3A%2F%2Fpic30.nipic.com%2F20130625%2F7447430_154310311000_2.jpg';
    }
  },
  computed:{
    reverseString(){
      return this.addTodos.split('').reverse().join('');
    }
  },
  watch:{
    addTodos(newValue,oldValue){
      console.log(newValue);
      console.log(oldValue);
    }
  }
})

// <!-- 阻止单击事件继续传播 -->
// <a v-on:click.stop="doThis"></a>

// <!-- 提交事件不再重载页面 -->
// <form v-on:submit.prevent="onSubmit"></form>

// <!-- 修饰符可以串联 -->
// <a v-on:click.stop.prevent="doThat"></a>

// <!-- 只有修饰符 -->
// <form v-on:submit.prevent></form>

// <!-- 添加事件监听器时使用事件捕获模式 -->
// <!-- 即元素自身触发的事件先在此处处理，然后才交由内部元素进行处理 -->
// <div v-on:click.capture="doThis">...</div>

// <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
// <!-- 即事件不是从内部元素触发的 -->
// <div v-on:click.self="doThat">...</div>
// 使用修饰符时，顺序很重要；相应的代码会以同样的顺序产生。因此，用 v-on:click.prevent.self 会阻止所有的点击，而 v-on:click.self.prevent 只会阻止对元素自身的点击。
// 
// Vue 还对应 addEventListener 中的 passive 选项提供了 .passive 修饰符。

// <!-- 滚动事件的默认行为 (即滚动行为) 将会立即触发 -->
// <!-- 而不会等待 `onScroll` 完成  -->
// <!-- 这其中包含 `event.preventDefault()` 的情况 -->
// <div v-on:scroll.passive="onScroll">...</div>
// 这个 .passive 修饰符尤其能够提升移动端的性能。
// 
// 在监听键盘事件时，我们经常需要检查常见的键值。Vue 允许为 v-on 在监听键盘事件时添加按键修饰符：

// <!-- 只有在 `keyCode` 是 13 时调用 `vm.submit()` -->
// <input v-on:keyup.13="submit">
// 记住所有的 keyCode 比较困难，所以 Vue 为最常用的按键提供了别名：

// <!-- 同上 -->
// <input v-on:keyup.enter="submit">

// <!-- 缩写语法 -->
// <input @keyup.enter="submit">
// 全部的按键别名：

// .enter
// .tab
// .delete (捕获“删除”和“退格”键)
// .esc
// .space
// .up
// .down
// .left
// .right
// 可以通过全局 config.keyCodes 对象自定义按键修饰符别名：

// // 可以使用 `v-on:keyup.f1`
// Vue.config.keyCodes.f1 = 112
</script> 